:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);;
    --Darker-Blue: hsl(213, 19%, 14%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: var(--Very-Dark-Blue);
}

.container {
    height: 26rem;
    width: 23rem;;
    padding: 2rem;
    border-radius: 2em;
    background-color: var(--Darker-Blue);
    color: var(--Medium-Grey)
}

.ratingState , .thankyouState{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.thankyouState {
    align-items: center;
    text-align: center;
}

.yourResult {
    padding: .6rem 2rem;
    border-radius: 1rem;
    background-color: var(--Dark-Blue);
    color: var(--Orange);
}

.question {
    font-size: 2rem;
    color: var(--White);
}
.request {
    line-height: 1.5;
}
.ratings {
    display: flex;
    justify-content: space-between;
}

.submitButton {
    outline: none;
    border: none;
    padding: .8rem;
    border-radius: 1.5em;
    font-size: 20px;
    background-color: var(--Orange);
    color: var(--White)
}

.submitButton:hover {
    cursor: pointer;
    background-color: var(--White);
    color: var(--Orange);
}

.ratingNumber {
    outline: none;
    border: none;
    font: inherit;
    color: var(--Light-Grey)
}

.ratingNumber:focus {
    background-color: var(--Medium-Grey);
    color: var(--White);
}

.ratingNumber:hover {
    cursor: pointer;
    background-color: var(--Orange);
    color: var(--White);
}

.hidden {
    display: none;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--Dark-Blue);
}